body {
  /* background-color: #5EF38C; */
  background-color: #98FB98;
  padding: 20px;
  /* margin: 0; */
}


h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #214E34;
  padding: 0;

}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.routingText:hover {
  color: #00F;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.linkBar{
  width: 300px;
  background-color: #FFF;
  padding: 0;
  margin: auto
}

.linkText{
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.linkText:hover{
  color: #00F
}

ul.headerLinks li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #98FB98;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.button {
  color: '#111';
  min-width: 150;
}

.buttonRouting {
  min-width: 150;
  color: '#FFF';
}

.center { 
  text-align: center;
}

.rightAlign {
  float: right;
}

.input{
  width: "150dp";
}

.active {
  background-color: #0099FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
